body {
  width: 100vw;
  height: 100vh;
  background: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1rem;
}

@media (max-width: 768px) {
  .content {
    height: 100%;
  }
}

.spacer-y {
  margin-top: auto;
  padding-bottom: 1rem;
}

.spacer-break {
  margin-top: auto;
  padding-bottom: 1px;
}

.pius {
  border-radius: 50px;
}

.pius-pic {
  display: flex;
  justify-content: center;
}

.info-block {
  display: flex;
  gap: 80px;
}

.info-block > div:first-child {
  width: 300px;
  flex: 0 0 300px;
}

.info-block > div:nth-child(2) {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 768px) {
  .info-block {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .content .info-block:nth-child(2) div {
    width: 100%;
    max-width: 100%;
  }
}

.doctors {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.doctors > div > span {
  display: block;
}

.doctors > div span:first-child {
  margin-bottom: 5px;
}

.doctors a {
  color: #3c5dc7;
}

table {
  display: grid;
  grid-template-rows: 1fr auto;
  width: 100%;
}

tr {
  display: grid;
  grid-template-columns: repeat(3, 33%); 
}

thead, tr:nth-child(even) {
  background-color: #cbcbcb; 
}

th,
td {
  padding: 15px;
}

th {
  text-align: left;
}

tbody tr > td:nth-child(2) {
  font-family: 'Courier New', Courier, monospace;
}

